.mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

.mat-slider-thumbLabel {
    background-color: red !important;

}

.mat-slider-thumbLabel {
    background-color: red !important;
}